USE [SyntroVaccP]
GO
/****** Object:  Table [dbo].[Administration]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administration](
	[AdministrationId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VaccineId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[ClinicianId] [int] NOT NULL,
	[DoseNumber] [int] NOT NULL,
	[AdministeredOn] [date] NOT NULL,
	[BatchNumber] [nvarchar](100) NOT NULL,
	[CreatedUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[BatchId] [int] NULL,
	[UpdatedUtc] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdministrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](50) NOT NULL,
	[EntityId] [int] NOT NULL,
	[Action] [nvarchar](20) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[ChangedBy] [nvarchar](50) NOT NULL,
	[ChangedUtc] [datetime2](7) NULL,
	[ChangeSummary] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinician]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinician](
	[ClinicianId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNumber] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Specialty] [nvarchar](100) NULL,
	[FacilityId] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClinicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [char](2) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalEntityMap]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalEntityMap](
	[LocalEntityType] [nvarchar](50) NOT NULL,
	[LocalEntityId] [int] NOT NULL,
	[ExternalEntityId] [nvarchar](50) NOT NULL,
	[ExternalSystemCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExternalEntityMap] PRIMARY KEY CLUSTERED 
(
	[LocalEntityType] ASC,
	[LocalEntityId] ASC,
	[ExternalSystemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalPatientMap]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalPatientMap](
	[LocalPatientId] [int] NOT NULL,
	[ExternalPatientId] [nvarchar](50) NOT NULL,
	[ExternalSystemCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExternalPatientMap] PRIMARY KEY CLUSTERED 
(
	[LocalPatientId] ASC,
	[ExternalSystemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facility]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[FacilityId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityCode] [nvarchar](50) NOT NULL,
	[FacilityName] [nvarchar](200) NOT NULL,
	[Province] [nvarchar](100) NULL,
	[CountryCode] [char](3) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Sex] [varchar](6) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ExternalPatientId] [nvarchar](50) NULL,
	[ExternalSystemCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientIdentifier]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientIdentifier](
	[PatientIdentifierId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[IdentifierType] [nvarchar](20) NOT NULL,
	[IdentifierValue] [nvarchar](30) NOT NULL,
	[CountryCode] [char](2) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ExternalIdentifierId] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientIdentifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[VaccineId] [int] IDENTITY(1,1) NOT NULL,
	[VaccineName] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[NumberOfDoses] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CVXCode] [varchar](10) NULL,
	[ICD11Code] [varchar](10) NULL,
	[CPTCode] [varchar](10) NULL,
	[DoseIntervalDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineBatch]    Script Date: 2026/02/16 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineBatch](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[VaccineId] [int] NOT NULL,
	[BatchNumber] [nvarchar](100) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administration] ADD  DEFAULT (sysdatetime()) FOR [CreatedUtc]
GO
ALTER TABLE [dbo].[Administration] ADD  DEFAULT (getutcdate()) FOR [UpdatedUtc]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (sysdatetime()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Facility] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientIdentifier] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[PatientIdentifier] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Vaccine] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Administration]  WITH CHECK ADD  CONSTRAINT [FK_Administration_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[VaccineBatch] ([BatchId])
GO
ALTER TABLE [dbo].[Administration] CHECK CONSTRAINT [FK_Administration_Batch]
GO
ALTER TABLE [dbo].[Administration]  WITH CHECK ADD  CONSTRAINT [FK_Immunization_Clinician] FOREIGN KEY([ClinicianId])
REFERENCES [dbo].[Clinician] ([ClinicianId])
GO
ALTER TABLE [dbo].[Administration] CHECK CONSTRAINT [FK_Immunization_Clinician]
GO
ALTER TABLE [dbo].[Administration]  WITH CHECK ADD  CONSTRAINT [FK_Immunization_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Facility] ([FacilityId])
GO
ALTER TABLE [dbo].[Administration] CHECK CONSTRAINT [FK_Immunization_Facility]
GO
ALTER TABLE [dbo].[Administration]  WITH CHECK ADD  CONSTRAINT [FK_Immunization_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([PatientId])
GO
ALTER TABLE [dbo].[Administration] CHECK CONSTRAINT [FK_Immunization_Patient]
GO
ALTER TABLE [dbo].[Administration]  WITH CHECK ADD  CONSTRAINT [FK_Immunization_Vaccine] FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccine] ([VaccineId])
GO
ALTER TABLE [dbo].[Administration] CHECK CONSTRAINT [FK_Immunization_Vaccine]
GO
ALTER TABLE [dbo].[PatientIdentifier]  WITH CHECK ADD  CONSTRAINT [FK_PatientIdentifier_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([PatientId])
GO
ALTER TABLE [dbo].[PatientIdentifier] CHECK CONSTRAINT [FK_PatientIdentifier_Patient]
GO
ALTER TABLE [dbo].[VaccineBatch]  WITH CHECK ADD  CONSTRAINT [FK_VaccineBatch_Vaccine] FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccine] ([VaccineId])
GO
ALTER TABLE [dbo].[VaccineBatch] CHECK CONSTRAINT [FK_VaccineBatch_Vaccine]
GO
ALTER TABLE [dbo].[Administration]  WITH CHECK ADD  CONSTRAINT [CK_Administration_DoseNumber_Positive] CHECK  (([DoseNumber]>=(1)))
GO
ALTER TABLE [dbo].[Administration] CHECK CONSTRAINT [CK_Administration_DoseNumber_Positive]
GO
